.gridDiv {
  display: grid;
  grid-template-columns: repeat(51, 20px); /* 13 столбцов */
  grid-template-rows: repeat(7, 15px); /* 7 строк */
  grid-auto-flow: column;
  grid-gap: 1px; /* промежутки между ячейками (необязательно) */
}
.item { 
  width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
}